.header{
      	background-color:#FF99CC;
	clear:both;
	padding-bottom:20px;
	height:80px;
	
	}
	.header h1{
	float:left;
	margin:0 50px 0 30px;
	}
	.header ul{
	padding-top:10px;
	}
	nav ul li{
	display:inline;
	padding-left:20px;
	margin-top:10px;
	float:left;

	}
	.header a{
	display:block;
	width:60px;
	}
	img{
	float:left;
	margin:0 20px;
	}
.content{
background-color:green;
width:1000px;
height:600px;
float:left;
clear:both;
}
.top-content{
margin:10px
}
.description{
padding:8px 120px 0 30px;
clear:right;}
.section{
float:left;
width:250px;
margin:40px;
}
.aside{
width:330px;
height:600px;
background-color:yellow;
float:left;
}
.aside li {
list-style-type:none;
text-align:center;
}
h2{
text-align:center;}


.footer{
width:1330px;
height:100px;
background-color:pink;
float:left;
}
.footer li{
text-align:center;
list-style-type:none;
padding:20px 0}
