
.container{
		width:70%;
		margin:0 auto;
		}
		.left{
		float:left;
		width:40%;
		
		}
		.right{
		float:left;
		width:40%;
		margin-left:10%;
		}
		table,tr,th,td{
		border:1px black solid;
		padding: 8px;
		}
